* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 600;
}

body {
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 40px;
  transition: 0.5s;
}

.gray {
  background-color: #3f3f3f;
}

.black {
  background-color: #000000;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.column {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
}

.column nav {
  padding-left: 25px;
  width: 400px;
}

.column nav ul {
  list-style-type: none;
  font-size: 1.2rem;
}

.column nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.column form {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.input-show {
  min-width: 100px;
  width: 80%;
  padding: 0 10px;
  border: 1px solid #747474;
  height: 32px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2ch;
  transition: 0.5s;
}

.input-hide {
  width: 0;
  padding: 0;
  border: 0;
  height: 32px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.2ch;
  transition: 0.5s;
}

.search-button {
  font-size: 1.2rem;
  margin-left: -30px;
  padding-top: 5px;
  height: 30px;
  width: 30px;
  color: #747474;
  cursor: pointer;
  transition: 0.5s;
}

.search-button:hover {
  color: #ffffff;
}

.column input:focus {
  outline: none;
  border: 1px solid #F5A623;
  border-radius: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #a7cee0;
  margin-left: 30px;
}

.featured-movie {
  height: 80vh;
  padding-top: 200px;
}

.featured-movie article {
  max-width: 400px;
  margin-left: 20%;
}

.featured-movie article button {
  margin: 20px auto;
}

.button {
  height: 34px;
  width: 110px;
  background: rgba(216, 216, 216, 0.20);
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover, .button:active {
  background: rgba(216, 216, 216, 0.40);
}

.category {
  overflow: visible;
  height: 250px;
}

.poster {
  display: block;
  height: 100%;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: rgb(100, 100, 100);
  flex: 0 0 auto;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  overflow-y: auto;
}

.horizontal-scroll figure {
  margin: 25px 0;
  height: 150px;
  transition: 0.3s;
}

.horizontal-scroll figure:hover {
  margin: 0;
  height: 200px;
  transform-origin: center;
  width: auto;
}

.movie-library {
  padding: 0 20px;
}

.modal {
  display: none;
  z-index: 42;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.884);
  overflow: auto;
}

.modal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 400px;
  width: 100%;
  padding-bottom: 20px;
}

.trailer {
  flex-grow: 1;
  text-align: center;
  color: #c0c0c0;
}

.play-btn {
  transition: 0.3s;
  font-size: 4rem;
  cursor: pointer;
}

.play-btn:hover {
  color: #ffffff;
}

.modal-text {
  flex-grow: 1;
  max-width: 800px;
  padding: 40px 0 0 10%;
}

.modal-text p {
  margin: 20px 0;
}

.rating {
  color: #F5A623;
}

footer {
  text-align: center;
  height: 60px;
  width: 100%;
  color: #727272;
  padding-top: 20px;
}

footer a {
  display: inline-block;
  color: #F5A623;
  font-weight: 600;
}